<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UploadSalesApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <UploadSalesApplication.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>10.140.0.154</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="Service_name" serializeAs="String">
                <value>rproods</value>
            </setting>
            <setting name="Userid" serializeAs="String">
                <value>reportuser</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>report</value>
            </setting>
            <setting name="Worksheet_no" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="upc" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="col_store_no" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="col_receipt_no" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="alu" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="col_size" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="col_qty" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="col_total_price" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="col_date" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="start_row" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ecm_file_path" serializeAs="String">
                <value>D:\ECM\ECMProc.exe</value>
            </setting>
            <setting name="ecm_parameters" serializeAs="String">
                <value>-user:sysadmin -password:sysadmin -in -a -show -ora_skip_style_relink</value>
            </setting>
            <setting name="ecm_use_ecm" serializeAs="String">
                <value>False</value>
            </setting>
        </UploadSalesApplication.Properties.Settings>
    </userSettings>
</configuration>
